.button{
    background-color: crimson;
    padding: 20px;
    margin-top: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 600;
    font-size: 20px;
}

.infoContainerStyle{
    width: 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    border: 2px solid crimson;
    
}